* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #FAFAFA;
}

.small_header {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 17px;
}

.large_header {
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
}

.small_text {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
}

.large_text {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
    color: #666;
}

.small_image {
    width: 20%;
}

.large_image {
    height: 30%;
}

.header-container {
    padding-top: 2%;
    padding-bottom: 1%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_table {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 30%);
}

.header_table_element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    background: #FFFFFF;
    padding: 4%;
}

.middle {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-container {
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_table {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 30%);
}

.footer_table_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
    background: #FFFFFF;
    padding: 4%;
}

.small_link {
    margin-top: 25px;
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}

.footer-link {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
}